
{% load static %}

<!DOCTYPE html>
<html lang="es">

<head>

    <meta charset="UTF-8">

    <meta
        name="viewport"
        content="width=device-width, initial-scale=1.0"
    >

    <title>
        {% block title %}
            UNINANIME
        {% endblock %}
    </title>

    <link
        rel="stylesheet"
        href="{% static 'css/styles.css' %}"
    >

</head>

<body>

    <header class="navbar">
        <div>
            <h1>UNINANIME</h1>
        </div>
        <nav>
            <li><a href="">Anime</a></li>
            <li><a href="">Manga</a></li>
            <li><a href="">Comunidad</a></li>
        </nav>

    </header>

    <main>

        {% block content %}
        {% endblock %}

    </main>

    <footer>

        <p>
            © 2026 UNINANIME
        </p>

    </footer>

</body>

</html>